body {
  color: whitesmoke;
  margin: 0%;
  background-color: rgb(127, 40, 191);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: start;
}

header {
  background-color: black;
  color-scheme: inherit;
  color: aliceblue;
}
main {
  margin: 50px;
}
h3 {
  margin-right: 50%;
  padding-left: 15px;
  border: 8px;
  border-radius: 8px;
  text-align: start;
  color: #db7093;
  background-color: black;
}

h5 {
  color: rgb(51, 89, 176);
  background-color: #db7093;
  margin-right: 50%;
  padding-left: 15px;
  border: 8px;
  border-radius: 8px;
  font-size: larger;
}
